.container {
   width: 120rem;
   margin: 8rem auto;
   // position: absolute;
   // top: 0;
   // left: 50%;
   // transform: translateX(-50%);
   // margin: 0 auto;
   // top: 8rem;
   // margin-left: 8rem;

   background-color: var(--color-grey-light-2);
   box-shadow: var(--shadow-dark);

   min-height: 50rem;
}

.header {
   font-size: 1.4rem;
   height: 7rem;
   background-color: #fff;
   border-bottom: var(--color-grey-light-2);

   display: flex;
   justify-content: space-between;
   align-items: center;
}

.content {
   display: flex;
}

.sidebar {
   background-color: var(--color-grey-dark-1);

   flex: 0 0 18%;
}

.hotel-view {
   background-color: #fff;

   flex: 1;
}
